<%- include("header") -%>

    <body>
        <p class="texts">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make.
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions
            of Lorem Ipsum.
            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
        <form class="form-signin" method="post">
            <div class="logo">
                <img class="mb-4" src="/images/logo.jpg" alt="" width="120" height="120">
            </div>
            <h1 class="h3 mb-3 font-weight-normal">Sign Up for our Newsletter.</h1>
            <input type="text" name="fname" class="form-control" class="first" placeholder="First name" required>
            <input type="text" name="lname" class="form-control" style="border-radius: 0;" placeholder="Last name"
                required>
            <input type="email" name="email" class="form-control" class="last" placeholder="Email address" required
                autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit"> Sign me Up!</button>
        </form>
    </body>
    <%- include("footer") -%>