<%- include("header") -%>
    <style>
        .post {
            opacity: 1;
            transition: opacity 0.5s;
        }

        .post.fade-out {
            opacity: 0.2;
        }

        .texts {
            max-height: 60px;
            overflow: hidden;
        }

        .morecontent {
            display: none;
        }

        .showcontent .texts {
            max-height: none;
        }

        .showcontent .morecontent {
            display: inline;
        }

        .other-posts {
            opacity: 0.2;
            pointer-events: none;
        }

        .showcontent .other-posts {
            opacity: 1;
            pointer-events: auto;
        }
    </style>

    <body>
        <div class="post">
            <h4>Standard dummy text ever since the 1500s</h4>
            <p class="texts">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s,<span class="dots">...</span><span class="morecontent">when an
                    unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many desktop
                    publishing
                    packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the years,
                    sometimes by
                    accident, sometimes on purpose (injected humour and the like).
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                    was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing
                    packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the
                    years, sometimes.
                </span>
            </p>
            <button class="blog-btn" onclick="togglePost(this)">Read more</button>
        </div>
        <div class="post">
            <h4>Standard dummy text ever since the 1500s</h4>
            <p class="texts">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s,<span class="dots">...</span><span class="morecontent">when an
                    unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many desktop
                    publishing
                    packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the years,
                    sometimes by
                    accident, sometimes on purpose (injected humour and the like).
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                    was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing
                    packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the
                    years, sometimes by
                </span>
            </p>
            <button class="blog-btn" onclick="togglePost(this)">Read more</button>
        </div>
        <div class="post">
            <h4>Standard dummy text ever since the 1500s</h4>
            <p class="texts">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's
                standard dummy text ever since the 1500s,<span class="dots">...</span><span class="morecontent">when an
                    unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many desktop
                    publishing
                    packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the years,
                    sometimes by
                    accident, sometimes on purpose (injected humour and the like).
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                    was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                    with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                    letters, as
                    opposed to using 'Content here, content here', making it look like readable English. Many
                    desktop publishing
                    packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                    'lorem ipsum'
                    will uncover many web sites still in their infancy. Various versions have evolved over the
                    years.
                </span>
            </p>
            <button class="blog-btn" onclick="togglePost(this)">Read more</button>
        </div>
        <script>
            function togglePost(button) {
                var post = button.parentNode;
                var content = post.querySelector('.texts');
                var dots = post.querySelector('.dots');
                var moreText = post.querySelector('.morecontent');

                if (post.classList.contains('showcontent')) {
                    post.classList.remove('showcontent');
                    button.innerHTML = 'Read more';
                } else {
                    // Close any open posts
                    var openPosts = document.getElementsByClassName('showcontent');
                    for (var i = 0; i < openPosts.length; i++) {
                        var openPost = openPosts[i];
                        var openButton = openPost.querySelector('.blog-btn');
                        var openContent = openPost.querySelector('.texts');
                        var openDots = openPost.querySelector('.dots');
                        var openMoreText = openPost.querySelector('.morecontent');

                        openPost.classList.remove('showcontent');
                        openButton.innerHTML = 'Read more';
                        openContent.style.maxHeight = '60px';
                        openDots.style.display = 'inline';
                        openMoreText.style.display = 'none';
                    }

                    post.classList.add('showcontent');
                    button.innerHTML = 'Read less';
                }
            }
        </script>
    </body>
    <%- include("footer") -%>